---
title: Kafka Learning.
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---
<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
<div id="tags">
<h2>Tags</h2>
  {% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
</div>
